html {
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-container {
    flex: 1;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 45% 30% 15%;
    height: 50em;
    max-width: 60em;
    align-content: center;
}

.page-container .image-container {
    overflow: hidden;
    grid-row: 1 / span 3;
    background-image: url(assets/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -5em;
}

.page-container .image-container img {
    height: 100%;
    object-fit: contain;
}

.page-container .adsi-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container .adsi-container img {
    width: 60%;
}

.page-container .user-card {
    background-color: #B2E2FD;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    gap: 1.5em;
}

.page-container .user-card img {
    box-sizing: border-box;
    border-radius: 1em;
    box-shadow: 5px 5px 10px black;
    width: 9.5em;
    object-fit: cover;
}

.page-container .user-card .name-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.page-container .user-card .name-section h3 {
    font-size: 18pt;
}

.page-container .user-card .name-section p {
    font-size: 16pt;
}

.page-container .user-card .name-section * {
    text-align: center;
    margin: 0;
}

.page-container .disclaimer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container .disclaimer p {
    font-size: 14pt;
}